################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jcPVS.Library/bin/Debug
/jcPVS.Library/bin/Debug
