################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jcPVS.Library/bin/Debug
/jcPVS.Library/bin/Debug
/.vs/config/applicationhost.config
/.vs/jcPVS/v14/.suo
/jcPVS.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcPVS.Library/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcPVS.Library/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcPVS.Library/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcPVS.Library/obj/Debug/jcPVS.Library.csproj.FileListAbsolute.txt
/jcPVS.Library/obj/Debug/jcPVS.Library.csprojResolveAssemblyReference.cache
/jcPVS.Library/obj/Debug/jcPVS.Library.dll
/jcPVS.Library/obj/Debug/jcPVS.Library.pdb
/jcPVS.Tests.WebAPI/Properties/AssemblyInfo.cs
/jcPVS.Tests.WebAPI/bin/Antlr3.Runtime.dll
/jcPVS.Tests.WebAPI/bin/Antlr3.Runtime.pdb
/jcPVS.Tests.WebAPI/bin/ApplicationInsights.config
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.Agent.Intercept.dll
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.DependencyCollector.dll
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.DependencyCollector.xml
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.PerfCounterCollector.dll
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.ServerTelemetryChannel.dll
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.ServerTelemetryChannel.xml
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.Web.dll
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.Web.xml
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.WindowsServer.dll
/jcPVS.Tests.WebAPI/bin/Microsoft.AI.WindowsServer.xml
/jcPVS.Tests.WebAPI/bin/Microsoft.ApplicationInsights.dll
/jcPVS.Tests.WebAPI/bin/Microsoft.ApplicationInsights.xml
/jcPVS.Tests.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/jcPVS.Tests.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/jcPVS.Tests.WebAPI/bin/Microsoft.Web.Infrastructure.dll
/jcPVS.Tests.WebAPI/bin/Newtonsoft.Json.dll
/jcPVS.Tests.WebAPI/bin/System.Net.Http.Formatting.dll
/jcPVS.Tests.WebAPI/bin/System.Net.Http.Formatting.xml
/jcPVS.Tests.WebAPI/bin/System.Web.Helpers.dll
/jcPVS.Tests.WebAPI/bin/System.Web.Helpers.xml
/jcPVS.Tests.WebAPI/bin/System.Web.Http.WebHost.dll
/jcPVS.Tests.WebAPI/bin/System.Web.Http.WebHost.xml
/jcPVS.Tests.WebAPI/bin/System.Web.Http.dll
/jcPVS.Tests.WebAPI/bin/System.Web.Http.xml
/jcPVS.Tests.WebAPI/bin/System.Web.Mvc.dll
/jcPVS.Tests.WebAPI/bin/System.Web.Mvc.xml
/jcPVS.Tests.WebAPI/bin/System.Web.Optimization.dll
/jcPVS.Tests.WebAPI/bin/System.Web.Optimization.xml
/jcPVS.Tests.WebAPI/bin/System.Web.Razor.dll
/jcPVS.Tests.WebAPI/bin/System.Web.Razor.xml
/jcPVS.Tests.WebAPI/bin/System.Web.WebPages.Deployment.dll
/jcPVS.Tests.WebAPI/bin/System.Web.WebPages.Deployment.xml
/jcPVS.Tests.WebAPI/bin/System.Web.WebPages.Razor.dll
/jcPVS.Tests.WebAPI/bin/System.Web.WebPages.Razor.xml
/jcPVS.Tests.WebAPI/bin/System.Web.WebPages.dll
/jcPVS.Tests.WebAPI/bin/System.Web.WebPages.xml
/jcPVS.Tests.WebAPI/bin/WebGrease.dll
/jcPVS.Tests.WebAPI/bin/jcPVS.Library.dll
/jcPVS.Tests.WebAPI/bin/jcPVS.Library.pdb
/jcPVS.Tests.WebAPI/bin/jcPVS.Tests.WebAPI.dll
/jcPVS.Tests.WebAPI/bin/jcPVS.Tests.WebAPI.dll.config
/jcPVS.Tests.WebAPI/bin/jcPVS.Tests.WebAPI.pdb
/jcPVS.Tests.WebAPI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/jcPVS.Tests.WebAPI/bin/roslyn/Microsoft.CSharp.Core.targets
/jcPVS.Tests.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/jcPVS.Tests.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/jcPVS.Tests.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.dll
/jcPVS.Tests.WebAPI/bin/roslyn/Microsoft.VisualBasic.Core.targets
/jcPVS.Tests.WebAPI/bin/roslyn/System.Collections.Immutable.dll
/jcPVS.Tests.WebAPI/bin/roslyn/System.Reflection.Metadata.dll
/jcPVS.Tests.WebAPI/bin/roslyn/VBCSCompiler.exe
/jcPVS.Tests.WebAPI/bin/roslyn/VBCSCompiler.exe.config
/jcPVS.Tests.WebAPI/bin/roslyn/csc.exe
/jcPVS.Tests.WebAPI/bin/roslyn/vbc.exe
/jcPVS.Tests.WebAPI/jcPVS.Tests.WebAPI.csproj.user
/jcPVS.Tests.WebAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcPVS.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcPVS.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcPVS.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcPVS.Tests.WebAPI/obj/Debug/jcPVS.Tests.WebAPI.csproj.FileListAbsolute.txt
/jcPVS.Tests.WebAPI/obj/Debug/jcPVS.Tests.WebAPI.csprojResolveAssemblyReference.cache
/jcPVS.Tests.WebAPI/obj/Debug/jcPVS.Tests.WebAPI.dll
/jcPVS.Tests.WebAPI/obj/Debug/jcPVS.Tests.WebAPI.pdb
